<launch>
  <node pkg="joy_to_mc_cmds" type="joy_to_mc_cmds.py" name="rjd">
  </node>
  <node pkg="bldc_mc" type="bldc_mc" name="bldc_mc">
    <param name="enable_uss" value="true" />
  </node>
  <node pkg="get_uss" type="talker" name="US_range_data">
  </node>
  <node pkg="get_imu" type="talker.py" name="IMU_data">
  </node>
  <node pkg="estimate_position" type="estimate_position" name="pos_est">
    <!-- <param name="x" type="double" value="2.015" />
    <param name="y" type="double" value="0.585" />
    <param name="heading" type="double" value="0" /> -->
  </node>
</launch>
