<launch>
  <node pkg="joy_to_mc_cmds" type="joy_to_mc_cmds.py" name="rjd">
  </node>
  <node pkg="bldc_mc" type="bldc_mc" name="bldc_mc">
  </node>
  <node pkg="get_uss" type="talker" name="US_range_data">
  </node>
  <node pkg="get_imu" type="talker.py" name="IMU_data">
  </node>
  <node pkg="estimate_position" type="estimate_position" name="pos_est">
  </node>
</launch>
